{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-2xl">Administrador de Chats</h1>
<!---->
    {% if perms.user.add_user %}
        <div class="mt-8">
            <h2 class="mb-4 text-lg">Usuarios</h2>

            <div class="mt-6">
                {% for user in users %}
                    <div class="grid grid-cols-4 gap-4 py-2 {% cycle 'bg-gray-100' '' %}">

                        <p class="px-2">{{ user.username }}</p>
                        <p class="px-2">{{ user.email }}</p>


                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <hr class="my-6">

    <div class="mt-8">
        <h2 class="mb-4 text-lg">Salas</h2>

        {% include 'chat/partials/room_list.html' %}
    </div>
{% endblock %}